dev/jade/template.jade
include includes/mixins
doctype html
html
	head
		title Abastible
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='css/main.css', rel='stylesheet', type='text/css')
		link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
		script(src='js/main.js', type='text/javascript')

		// Meta tags facebook
		meta(property='og:title', content="")
		meta(property='og:description', content="")
		meta(property='og:image', content="")

		// Meta tags twitter cards
		meta(name='twitter:card', content="summary_large_image")
		meta(name='twitter:title', content="")
		meta(name='twitter:description', content="")
		meta(name='twitter:image', content="")

		//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]

	body(data-api-url="/abastible-mejoremos-el-mundo/site/public")
		include includes/header

		.slide
			.imagen
				img(src="images/fondo-clean.png")
			.content
				.limit
					.slide-text
						h1
							| Mejorando el mundo, ganamos todos
						h2.hashtag
							| #MejoremosElMundo
						p
							| Ingresa a <strong>mejoremoselmundo.cl</strong> y cuéntanos qué haces para que tu barrio sea un mejor lugar para las futuras generaciones
						img.logo-orange(src="images/logo-orange.png")
		.contact
			.limit
				.cols.sub-contact.cols-gutter-0
						.sub-contact-text.col-xs-7
							h2.hashtag #MejoremosElMundo
							p Las ideas más votadas estarán participando<br>por <strong>una gran GiftCard de $500.000</strong>
						.sub-contact-acept.col-xs-5
							img(src="images/acept.png")
			.contact-form.limit
				form(method="post")
					.form-group
						input(type="text", placeholder="Nombre", name="name")
					.form-group
						input(type="text", placeholder="Rut", name="rut")
					.form-group
						input(type="email", placeholder="Email", name="email")
					.radio
						.radio-title ¿Eres cliente frecuente de Abastible?
						.radio-radio.first-radio
							input(type="radio", name="clienteFrecuente", value="yes" id="yes")
							label(for="yes") Si  
						.radio-radio
							input(type="radio", name="clienteFrecuente", value="no", id="no")
							label(for="no") No
					.form-group
						input(type="text", placeholder="Escribe tu acción para ayudar aquí", name="message", maxlength="300")
					button.icn-next.contact-button(type="submit") Enviar
			.action-mesage
			.ideas-direct
				.ideas-direct-line
					img(src="images/line-orange.png")
				.ideas-direct-text
					span
						| Mira y vota por tu idea favorita
						img(src="images/arrow-down-orange.png")
	

		.best-ideas
			.limit
				.cols.cols-gutter-0
					.col-sm-12.col-md-6.best-ideas-header
						.container-fluid
							img(src="images/bordered-acept.png")
							h2 #MejoremosElMundo
					.col-sm-12.col-md-6.best-ideas-header
						.container-fluid.search-box
							form
								input(type="text", placeholder="Buscar idea")
					+loop(5)
						+idea()
		include includes/footer

dist/template.html
<!DOCTYPE html>
<html>
  <head>
    <title>Abastible</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <script src="js/main.js" type="text/javascript"></script>
    <!-- Meta tags facebook-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <!-- Meta tags twitter cards-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  </head>
  <body data-api-url="/abastible-mejoremos-el-mundo/site/public">
    <header>
      <div class="limit">
        <div class="header-content">
          <div class="header-logo"><a href="home.html"><img src="images/logo.png" class="logo"></a></div>
          <div class="header-hamburger">
            <div class="fa1"></div>
            <div class="fa2"></div>
            <div class="fa3"></div>
          </div>
          <nav>
            <div class="fa fa-times"></div>
            <ul>
              <li>Inicio</li>
              <li>Participa aquí</li>
              <li>Ideas</li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="slide">
      <div class="imagen"><img src="images/fondo-clean.png"></div>
      <div class="content">
        <div class="limit">
          <div class="slide-text">
            <h1>Mejorando el mundo, ganamos todos</h1>
            <h2 class="hashtag">#MejoremosElMundo</h2>
            <p>Ingresa a <strong>mejoremoselmundo.cl</strong> y cuéntanos qué haces para que tu barrio sea un mejor lugar para las futuras generaciones</p><img src="images/logo-orange.png" class="logo-orange">
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="limit">
        <div class="cols sub-contact cols-gutter-0">
          <div class="sub-contact-text col-xs-7">
            <h2 class="hashtag">#MejoremosElMundo</h2>
            <p>Las ideas más votadas estarán participando<br>por <strong>una gran GiftCard de $500.000</strong></p>
          </div>
          <div class="sub-contact-acept col-xs-5"><img src="images/acept.png"></div>
        </div>
      </div>
      <div class="contact-form limit">
        <form method="post">
          <div class="form-group">
            <input type="text" placeholder="Nombre" name="name">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Rut" name="rut">
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" name="email">
          </div>
          <div class="radio">
            <div class="radio-title">¿Eres cliente frecuente de Abastible?</div>
            <div class="radio-radio first-radio">
              <input type="radio" name="clienteFrecuente" value="yes" id="yes">
              <label for="yes">Si  </label>
            </div>
            <div class="radio-radio">
              <input type="radio" name="clienteFrecuente" value="no" id="no">
              <label for="no">No</label>
            </div>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Escribe tu acción para ayudar aquí" name="message" maxlength="300">
          </div>
          <button type="submit" class="icn-next contact-button">Enviar</button>
        </form>
      </div>
      <div class="action-mesage"></div>
      <div class="ideas-direct">
        <div class="ideas-direct-line"><img src="images/line-orange.png"></div>
        <div class="ideas-direct-text"><span>Mira y vota por tu idea favorita<img src="images/arrow-down-orange.png"></span></div>
      </div>
    </div>
    <div class="best-ideas">
      <div class="limit">
        <div class="cols cols-gutter-0">
          <div class="col-sm-12 col-md-6 best-ideas-header">
            <div class="container-fluid"><img src="images/bordered-acept.png">
              <h2>#MejoremosElMundo</h2>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 best-ideas-header">
            <div class="container-fluid search-box">
              <form>
                <input type="text" placeholder="Buscar idea">
              </form>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 idea-container">
            <article class="idea">
              <div class="idea-autor">
                <div class="idea-autor-name">Federico Muñoz Cabezas</div><img src="images/quotes.png"/>
              </div>
              <p class="idea-body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              <div class="idea-vote"><a data-id="1" class="vote">Votar
                  <div class="icons"><img src="images/orange-acept.png"/><img src="images/orange-acept.png" class="icon2"/></div></a></div>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 idea-container">
            <article class="idea">
              <div class="idea-autor">
                <div class="idea-autor-name">Federico Muñoz Cabezas</div><img src="images/quotes.png"/>
              </div>
              <p class="idea-body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              <div class="idea-vote"><a data-id="1" class="vote">Votar
                  <div class="icons"><img src="images/orange-acept.png"/><img src="images/orange-acept.png" class="icon2"/></div></a></div>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 idea-container">
            <article class="idea">
              <div class="idea-autor">
                <div class="idea-autor-name">Federico Muñoz Cabezas</div><img src="images/quotes.png"/>
              </div>
              <p class="idea-body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              <div class="idea-vote"><a data-id="1" class="vote">Votar
                  <div class="icons"><img src="images/orange-acept.png"/><img src="images/orange-acept.png" class="icon2"/></div></a></div>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 idea-container">
            <article class="idea">
              <div class="idea-autor">
                <div class="idea-autor-name">Federico Muñoz Cabezas</div><img src="images/quotes.png"/>
              </div>
              <p class="idea-body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              <div class="idea-vote"><a data-id="1" class="vote">Votar
                  <div class="icons"><img src="images/orange-acept.png"/><img src="images/orange-acept.png" class="icon2"/></div></a></div>
            </article>
          </div>
          <div class="col-sm-12 col-md-6 idea-container">
            <article class="idea">
              <div class="idea-autor">
                <div class="idea-autor-name">Federico Muñoz Cabezas</div><img src="images/quotes.png"/>
              </div>
              <p class="idea-body">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              <div class="idea-vote"><a data-id="1" class="vote">Votar
                  <div class="icons"><img src="images/orange-acept.png"/><img src="images/orange-acept.png" class="icon2"/></div></a></div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
